################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1.BuilderPattern/obj
/1.BuilderPattern/bin/Debug/netcoreapp3.1
/.vs/DesignPatterns
/2.FactoryPattern/obj
/2.FactoryPattern/bin/Debug/netcoreapp3.1
/3.PrototypePattern/obj
/3.PrototypePattern/bin/Debug/netcoreapp3.1
/4.SingletonPattern/obj
/4.SingletonPattern/bin/Debug/netcoreapp3.1
