################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1.BuilderPattern/obj
/1.BuilderPattern/bin/Debug/netcoreapp3.1
