################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1.BuilderPattern/obj
/1.BuilderPattern/bin/Debug/netcoreapp3.1
/.vs/DesignPatterns
/2.FactoryPattern/obj
/2.FactoryPattern/bin/Debug/netcoreapp3.1
/3.PrototypePattern/obj
/3.PrototypePattern/bin/Debug/netcoreapp3.1
/4.SingletonPattern/obj
/4.SingletonPattern/bin/Debug/netcoreapp3.1
/5.AdapterPattern/obj
/5.AdapterPattern/bin/Debug/netcoreapp3.1
/6.BridgePattern/obj
/6.BridgePattern/bin/Debug/netcoreapp3.1
/7.CompositePattern/obj
/7.CompositePattern/bin/Debug/netcoreapp3.1
/8.DecoratorPattern/obj
/8.DecoratorPattern/bin/Debug/netcoreapp3.1
/9.FacadePattern/obj
/9.FacadePattern/bin/Debug/netcoreapp3.1
/FlyweightPattern/obj
/FlyweightPattern/bin/Debug/netcoreapp3.1
/10.FlyweightPattern/obj
/10.FlyweightPattern/bin/Debug/netcoreapp3.1
